/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ysabeau;
}

body,
html {
  background-color: black;
}
/* Intro */
.intro,
.outro {
  padding-top: 100px;
  max-height: 900px;
  background-color: black;
  /* border: 1px solid red; */
}
.intro h1 {
  position: absolute;
  font-size: 36px;
  color: white;
  opacity: 0;
  transition: 1s;
  letter-spacing: 30px;
  /* padding-left: 30px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 2px white;
}
.outro h1 {
  position: absolute;
  font-size: 36px;
  color: white;
  opacity: 0;
  transition: 1s;
  letter-spacing: 30px;
  /* padding-left: 30px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 2px white;
}
/*      JS titles */
h1.scrolledFirst {
  opacity: 1;
  letter-spacing: 50px;
  transition: 1s;
  padding-left: 50px;
}
h1.scrolledSecond {
  opacity: 1;
  letter-spacing: 70px;
  transition: 1s;
  padding-left: 70px;
}

.intro video {
  height: 90vh;
  width: 100%;
  padding-bottom: 100px;
}
/* Interlude (middle) */

section.interlude {
  /* margin-top: 100px; */
  background-color: black;
  /* border: 1px solid white; */
  height: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2.5s;
  opacity: 0;
}

section div.background {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.interlude-container {
  /* margin-top: 200px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.interlude img {
  border: 2px solid white;
  width: 90px;
  border-radius: 100%;
  margin-bottom: 50px;
  padding: 15px;
  animation: spin 1s alternate infinite;
  z-index: 2;
}
.interlude hr {
  border: 1px solid white;
  box-shadow: 0 0 10px white;
}
.interlude hr:nth-of-type(1) {
  width: 102px;
  transform: rotate(90deg);
}
.interlude hr:nth-of-type(2) {
  width: 800px;
  margin: 50px 0 25px 0;
  z-index: 2;
}
.interlude h1 {
  text-transform: uppercase;
  margin: 35px 0 30px 0;
  letter-spacing: 30px;
  font-size: 50px;
  color: white;
  text-shadow: 0 0 5px white;
}
.interlude p:nth-of-type(1) {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 30px;
  max-width: 800px;
  margin-bottom: 35px;
  color: white;
}
.interlude hr:nth-of-type(3) {
  width: 800px;
  margin-top: 25px;
  z-index: 2;
}
.interlude hr:nth-of-type(4) {
  width: 100px;
  transform: rotate(90deg);
  margin: 49px 0 49px 0;
}
.interlude nav {
  box-shadow: 0 0 5px white;
  z-index: 2;
  border: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 625px;
  border-radius: 30px;
}
.interlude nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-bottom-right-radius: 30px;
}
.interlude nav div button {
  color: white;
  border: none;
  background: none;
  padding: 15px 25px;
  font-size: 14px;
  letter-spacing: 5px;
  width: 100%;
  height: 100%;
  transition: 0.33s;
}
.interlude nav div button:hover {
  scale: 1.1;
  text-shadow: 0 5px 30px white;
}
nav div:nth-child(1),
nav div:nth-child(2),
nav div:nth-child(3) {
  border-right: 2px solid white;
}
.interlude p:nth-of-type(2) {
  margin-top: 100px;
  font-size: 12px;
  letter-spacing: 5px;
  color: white;
}
/* Tabs */
article div.glass {
  filter: blur(5px);
  border: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  z-index: -1;
  transition: 1s;
}
article.tab-content {
  display: none;
}
article i.exit-box {
  color: white;
  font-size: 36px;
  position: absolute;
  top: 3%;
  right: 3%;
  transition: 0.33s;
}
i.exit-box:hover {
  scale: 0.9;
  transition: 0.33s;
}
article.tab-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border: 1px solid white;
  box-shadow: inset 0 0 80px -45px white;
  font-size: 1.1em;
  width: 650px;
  height: 575px;
  border-radius: 30px;
  margin-bottom: 5px;
  padding: 15px;
  position: absolute;
  z-index: 999;
}
p.tab-paragraph {
  max-width: 500px;
  text-align: right;
}
/* Outro */
.outro h1 {
  position: absolute;
  font-size: 40px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.outro video {
  height: 90vh;
  width: 100%;
  padding-bottom: 100px;
}
/* Mobile */
.mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  letter-spacing: 3px;
  background-color: black;
  color: white;
  font-family: Ysabeau;
  display: none;
  font-size: 12px;
}
/* --- */
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 1000px) {
  .intro h1,
  .outro h1 {
    font-size: 24px;
  }
  h1.scrolledFirst,
  h1.scrolledSecond {
    letter-spacing: 50px;
  }
  section.interlude {
    scale: 0.8;
    transition: 0.33s;
  }
}
@media (max-width: 768px) {
  .intro video,
  .outro video {
    height: auto;
  }
  section.interlude {
    scale: 0.6;
  }
}
@media (max-width: 500px) {
  .mobile {
    display: flex;
  }
  div.scrollmagic-pin-spacer {
    display: none;
  }
  div.intro {
    display: none;
  }
  section.interlude {
    display: none;
  }
  div.outro {
    display: none;
  }
}
